@import "./styles/Hero.css";
@import "./styles/nav.css";
@import "./styles/whyUs.css";
@import "./styles/AboutUsHome.css";
@import "./styles/footer.css";
#root {
 width: 100%;
 position: relative;
 height: 100%;
  

}

